@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6">
    <h3>What is Science of Quality</h3>
    <p>
        Science of Quality is a project started by David Rosskopf.  The project is to keep track of experiments and findings that support the increased quality of software.
        
    </p>    
</div>
<div class="col-md-6"></div>

